.rex-editor{
  border: 1px solid;
  .menu-bar{
    display: flex;
    flex-flow: row wrap;
  }
  .DraftEditor-root{
    padding: 20px;
    background-color: #eee;
    .public-DraftEditor-content{
      .text-left{
        text-align: left;
      }
      .text-center{
        text-align: center;
      }
      .text-right{
        text-align: right;
      }
    }
  }
  
}