.rex-editor{
  border: 1px solid #999;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  .DraftEditor-root{
    border-top: 1px solid #999;
    .DraftEditor-editorContainer > div:first-child{
        padding: 10px;
    }
    .public-DraftEditor-content{
      .text-left{
        text-align: left;
      }
      .text-center{
        text-align: center;
      }
      .text-right{
        text-align: right;
      }
    }
  }
  
}